#welcome {
  margin: 0;
  padding: 0;
  background: url(https://cutewallpaper.org/21/anime-gif-wallpaper-1920x1080/wg-WallpapersGeneral-Thread-7073716.gif) repeat;
  background-size: contain;
  height: 100vh;
}